<!-- https://github.com/inlineblock/javascript-hero -->
<!DOCTYPE html>
<html>
  <head>
    <title>Guitar Fire</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="static/css" type="text/css" href="stylesheets/main.less" />
    <link rel="static/css" type="text/css" href="stylesheets/custom.css" />

    <script src="static/js/vendors/jquery-2.0.3.js" charset="utf-8"></script>
    <script src="static/js/vendors/d3.js" charset="utf-8"></script>
    <script src="static/js/vendors/underscore.js" charset="utf-8"></script>
    <script src="static/js/vendors/backbone.js" charset="utf-8"></script>
    <script src="static/js/vendors/less-1.4.1.min.js" charset="utf-8"></script>

    <script src="static/js/Game.js" charset="utf-8"></script>
    <script src="static/js/ControllerBar.js" charset="utf-8"></script>
    <script src="static/js/ScoreBar.js" charset="utf-8"></script>
    <script src="static/js/Hero.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="score-bar"></div>
    <div class="game"></div>
  </body>
</html>
    
